
@import "../bower_components/normalize-css/normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/typeplate";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@mixin grid_r($col, $width) {
    @media only screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                flex-basis: #{100/$col}%;
            }
        }
    }
}

@mixin grid($col) {
    .grid-#{$col} {
        & > * {
            flex-basis: #{100/$col}%;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(5);

@include grid_r(2,400);
@include grid_r(2,800);

@include grid_r(4,400);
@include grid_r(4,800);

/**
 * GENERAL
 */

img {
    width: 100%;
}
/**
 * YOUR CODE HERE
 */


#homeView {
      
    div#navButtons{
        background-color: black;
        color:white;
        height: 60px;
        position: fixed;
        left:0px;
        top:0px;
        width: 100%;
        text-align: right;
        z-index: 2;
            div{

                font-size: 24px;
                
                input{
                    width: 65px;
                    height:60px;
                    -webkit-appearance: none;
                    background-color: crimson;
                }
                ul#dropdown-menu{
                    list-style: none;
                    position: relative;
                    opacity: 0;
                        li {
                            text-align: center;
                        }
                    z-index: 99;

                }
                input:checked + ul#dropdown-menu {

                    background-color:crimson;
                    z-index: 2;
                    opacity: 1;
                    height: 174px;
                    margin-top: -14px;
                    padding: 10px;
                }
            }

        div{
            display: inline-block;

            h5{
                color:white;
            }
        }
    }

    div#titleBar{
        height: 1000px;
        background-color: khaki;
        position: fixed;
        top:60px;
        left:0;
        width:100%;

        h1 {
            text-align: center;
            transform: translateY(200%);
            font-family: 'Oleo Script', cursive;
            font-size: 85px;
        }
    }

    div#eventContent{
        margin-top: 1000px;
        position: relative;
        background-color: cadetblue;
        text-align: center;

        input {
            width: 263.9px;
            height:50px;
        }

        div{
            font-size: 25px;
            font-family: Palatino, Arial;
            div {
                border: dashed lightgray;
                padding: 2px;
                text-align: center;
                margin: 30px;
            }
        }
    }

    div#signView {
            opacity: 1;
            position: absolute;
            top: 380px;
            background-color: lightgoldenrodyellow;
            text-align: center;
            div#buttons {
                button#signup{
                    display: block;
                    margin-left: 95px;
                }
            }
        }
}

div#aboutview{
    background-color: khaki;
    text-align: center;
    height: 890px;
    
    div#navButtons{
        background-color: black;
        color:white;
        height: 60px;
        position: fixed;
        left:0px;
        top:0px;
        width: 100%;
        text-align: right;
        z-index: 2;
            div{

                font-size: 24px;
                
                input{
                    width: 65px;
                    height:60px;
                    -webkit-appearance: none;
                    background-color: crimson;
                }
                ul#dropdown-menu{
                    list-style: none;
                    position: relative;
                    opacity: 0;
                        li {
                            text-align: center;
                        }
                    z-index: 99;

                }
                input:checked + ul#dropdown-menu {

                    background-color:crimson;
                    z-index: 2;
                    opacity: 1;
                    height: 174px;
                    margin-top: -14px;
                    padding: 10px;
                }
            }

        div{
            display: inline-block;
        }
    }

    h3{
        margin-top: 60px;
    }

    p#firstpara{
        margin-top: 40px;
    }

    p{
        font-size: 20px; 
    }
}

div#eventview {
    background-color: khaki; 
    height: 1050px;
    div#navButtons{
        background-color: black;
        color:white;
        height: 60px;
        position: fixed;
        left:0px;
        top:0px;
        width: 100%;
        text-align: right;
        z-index: 2;
            div{

                font-size: 24px;
                
                input{
                    width: 65px;
                    height:60px;
                    -webkit-appearance: none;
                    background-color: crimson;
                }
                ul#dropdown-menu{
                    list-style: none;
                    position: relative;
                    opacity: 0;
                        li {
                            text-align: center;
                        }
                    z-index: 99;

                }
                input:checked + ul#dropdown-menu {

                    background-color:crimson;
                    z-index: 2;
                    opacity: 1;
                    height: 174px;
                    margin-top: -14px;
                    padding: 10px;
                }
            }
        div{
            display: inline-block;
        }
    }

    div#greeting{
        margin-top: 60px;
        padding: 20px;
        h3{
            font-family: 'Oleo Script', cursive;
        }
        p {
            font-size: 30px;
            text-align: center;
            font-family: Palatino, Arial;
        }
    }

    div#eventform{
        text-align: center;
        p{
            margin: 50px;
            font-size: 20px;
            font-family: Palatino,Arial;
            text-align: left;
        }
    
    button#signup{
            border: black;
           
        }
    }
}

div#detailView {
    text-align: center;
    background-color: khaki;
    height: 900px;
    
    div#details{
        margin-top: 60px;
        padding: 40px;
        p#date {
            margin: 20px;
            font-size: 25px;
        }
        p#url{
            margin: 20px;
        }
    }
    
    div#navButtons{
        background-color: black;
        color:white;
        height: 60px;
        position: fixed;
        left:0px;
        top:0px;
        width: 100%;
        text-align: right;
        z-index: 2;
            div{

                font-size: 24px;
                
                input{
                    width: 65px;
                    height:60px;
                    -webkit-appearance: none;
                    background-color: crimson;
                }
                ul#dropdown-menu{
                    list-style: none;
                    position: relative;
                    opacity: 0;
                        li {
                            text-align: center;
                        }
                    z-index: 99;

                }
                input:checked + ul#dropdown-menu {

                    background-color:crimson;
                    z-index: 2;
                    opacity: 1;
                    height: 174px;
                    margin-top: -14px;
                    padding: 10px;
                }
            }
        div{
            display: inline-block;
        }
    }
}


// .fade-leave {
//   opacity: 1;
// }
// .fade-leave.fade-leave-active {
//   opacity: 0.01;
//   transition: opacity .1s ease-in;
// }
 
// .fade-enter {
//   opacity: 0.01;
// }
// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity .2s ease-in;
// }
 
// .fade-height {
//   transition: height .15s ease-in-out;
// }











