
@import "../bower_components/normalize-css/normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/typeplate";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@mixin grid_r($col, $width) {
    @media only screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                flex-basis: #{100/$col}%;
            }
        }
    }
}

@mixin grid($col) {
    .grid-#{$col} {
        & > * {
            flex-basis: #{100/$col}%;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(5);

@include grid_r(2,400);
@include grid_r(2,800);

@include grid_r(4,400);
@include grid_r(4,800);

/**
 * GENERAL
 */

img {
    max-width: 70%;
}
/**
 * YOUR CODE HERE
 */

     
div#navButtons{
    background-color: fuchsia;
    background-color: black;
    color:white;
    height: 60px;
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    text-align: right;
    z-index: 2;
        div{

            font-size: 24px;
            
            input{
                width: 65px;
                height:60px;
                -webkit-appearance: none;
                background-color: crimson;
            }
            ul#dropdown-menu{
                list-style: none;
                position: relative;
                opacity: 0;
                    li {
                        text-align: center;
                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                z-index: 99;

            }
            input:checked + ul#dropdown-menu {

                background-color:crimson;
                z-index: 2;
                opacity: 1;
                margin-top: -14px;
                padding: 10px;
            }
        }

    div{
        display: inline-block;

        h5{
            color:white;
        }
    }
}

#homeView {
    div#titleBar{
        height: 100%;
        background: url(./images/freeHouston_vid/girl.jpg) no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: fixed;
        top:60px;
        left:0;
        width:100%;

        h1 {
            text-align: center;
            margin-top: 440px;
            font-family: 'Bree Serif', serif;
            // font-family: 'Oleo Script', cursive;
            font-size: 85px;
        }
    }


    div#eventContent{
        margin-top: 1000px;
        position: relative;
        background-color: cadetblue;
        text-align: center;

        input {
            width: 263.9px;
            height:50px;
        }

        div#listEvent{
            font-size: 25px;
            font-family: Palatino, Arial;
            cursor: pointer;
            div {
                border: dashed lightgray;
                padding: 2px;
                text-align: center;
                margin: 30px;
            }
        }
    }

    div#signView {
        opacity: 1;
        position: absolute;
        top: 380px;
        background-color: lightgoldenrodyellow;
        text-align: center;
        box-shadow: 4px 4px 4px 4px #999;
        margin-left: 15%;
        width: 70%;
        div {
            p {
                text-indent: 0;
                margin-top: -0.5em;
            }
            
            button#signup{
                display: block;
                margin-left: 45%;
            }
        }
    }
}

div#aboutview{
    text-align: center;
    height: 900px;
    
    div#movieDiv{
        position: absolute;
        z-index: -100;
    }

    div#aboutDiv{
        width: 500px;
        margin: auto;
        h3{
            margin-top: 60px;
            transform:translateY(200%);
            color: white;
            font-size: 70px;
            font-family: 'Bree Serif', serif;
        }

        p{
            margin-top: 40px;
            font-size: 20px;
            transform: translateY(50%);
            color: white; 
            font-family: 'Bree Serif', serif;
            border: 1px solid;
            background: rgba(220,20,60,0.4);
        }
    }
}

div#eventview {
    background-color: khaki; 
    height: 900px;

    div#greeting{
        margin-top: 60px;
        padding: 20px;
        h3{
            font-family: 'Oleo Script', cursive;
        }
        p {
            font-size: 60px;
            text-align: center;
            font-family: Palatino, Arial;
            margin: 0;
        }
    }

    div#eventform{
        border: black 2px solid;
        width: 500px;
        margin: auto;
        text-align: center;
        p {
            font-size: 20px;
            font-family: Palatino,Arial;
            text-align: left;
            margin: 1rem 0 0 2rem;
            text-indent: none;
            
        }
    
    button#signup{
            border: black;
           
        }
    }
}

div#detailView {
    text-align: center;
    background-color: khaki;
    height: 1000px;
    
    div#details{
        border: 2px solid blue;
        width: 600px;
        margin: auto;
        margin-top: 60px;
        padding: 40px;
        p#date {
            margin: 20px;
            font-size: 30px;
        }
        p#time {
            padding: 10px;
            font-size: 22px;
        }
        p#url{
            margin: 20px;
        }
    }
}
    













